.input_image{
  height: 240px;
  width: auto;
  position: relative;
  /* margin: 20px 80px; */
  border-radius: 10px;
}



.input_image img{
  width: auto;
  /* position: absolute; */
}

.input_image .input{
  height: 100%;
  width: 100%;
}
.image_place {
  /* position: absolute; */
  border-radius: 10px;
  /* width: 100%;
  height: 100%; */
  box-shadow: 0 0 20px rgba(255, 105,135, 0.3);

  background-size: cover;
}



