



.App {
  /* display: block; */
  height: 100%;
  
}

.background-img-1{
  height: 100%;
  /* background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
    ); */
}

.input {
  /* position: absolute; */
  margin: 0 auto;
  
  transition: all 2s;
  
}

.result {
  margin: 0 auto;
  animation-name: unhide;
  animation-duration: 2s;
}

@keyframes unhide {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.hidden_result {
  display: none;
}

.result .image_processed {
  height: 240px;
  /* margin: 20px 80px; */
  display: flex;
  justify-content: center;
}

.result .image_processed #Image_processed{
  box-shadow:  0 0 20px rgba(255, 105,135, 0.3);
  border-radius: 10px;
  width: auto;
  background-size: cover;
}

.result .result_info .image_info {
  position: relative;
  height: 230px;
  margin: 10px 20px;
  text-align: center;
}

.result .result_info .image_info .title {
  display: block;
  height: 40px;
  /* width: 350px; */
  margin: 40px auto 0;
  line-height: 30px;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.content{
  margin: 10px 0;
}

.field-input{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.image{
  display: flex;
  /* position: absolute; */
  justify-content: center;
}

.background-img{
    /* background-image: url('./img/bg-pattern-desktop.svg') ;
    background-repeat: no-repeat;
    background-size: cover; */
  }

.Image_processing{
  margin: 50px 20px 0;
}
